.multi-column-masonry{
  column-count: 4;
  
}

.one-column-masonry {
  display:flex;
 justify-content: center;
}


img { /* Masonry bricks or child elements */
  background-color: #fff;
  display: block;
  padding: 7px;
  width:100%;
  }

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 539px) and (min-width: 370px) {
  .masonry {
    column-count: 1;
  }
}

.image-card {
  display:flex;
  padding-right:7px;
}

.full-screen .back-button {
cursor: pointer;
justify-content: center;

}

.invisible {
  display:none
}

.full-screen .image-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item .back-button {
  display: none;
}

.image-container{
  position:relative;
  width:100%;
  overflow: hidden;
}

.alt-text{
  opacity:0;
  color:white;
  position:absolute;
  top:20px;
  left:25px;
}

.image-container:hover .alt-text{
  z-index:100;
  color:white;
  position:absolute;
  top:20px;
  left:25px;
  opacity:1;
  transition: 0.3s;
  margin:5px;
}

.image-container:hover {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(26,26,29,1) 19%, rgba(0,212,255,0) 100%);
}





