.multi-column-masonry{
  column-count: 4;
  column-gap:15px;
}

.container{
  margin:20px;
}

.one-column-masonry {
  display:flex;
 justify-content: center;
}


/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 539px)  {
  .masonry {
    column-count: 1;
  }
}

.image-card {
  display:flex;
}

.full-screen .back-button {
cursor: pointer;
justify-content: center;

}

.invisible {
  display:none
}

.full-screen .image-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item .back-button {
  display: none;
}


.alt-text{
  opacity:0;
  color:white;
  position:absolute;
  top:20px;
  left:25px;
  text-align: center;
}

.image-container:hover .alt-text{
  color:white;
  position:absolute;
  top:20px;
  left:25px;
  opacity:1;
  transition: 0.2s;
}

.image-container{
  position:relative;
  display: inline-block;
  width:100%;
  overflow: hidden;
}


img { /* Masonry bricks or child elements */
  background-color: #fff;
  width:100%;
  margin-bottom: 12px;;
}

 #image-wrapper:hover{
  background: linear-gradient(180deg, #000 0%, #fff 100%);
  transition: 0.2s;
  cursor:pointer;

}

#image-wrapper:hover img{
  opacity:0.6;
  transition: 0.2s;

}