a {
  text-decoration: none;
  color:lightslategray
}

button {
  margin-right: 30px;
  font-weight:bold;
  font-size: medium;
  border:none;
  background-color:transparent;
  padding:10px;
}

button:hover{
  background-color:#efefef;
  border-radius:10px;
}

nav {
  padding:30px;
  display:flex;
  justify-content:space-between
}