.multi-column-masonry{
  column-count: 4;
  
}

.one-column-masonry {
  display:flex;
 justify-content: center;
}


img { /* Masonry bricks or child elements */
  background-color: #fff;
  display: inline-block;
  padding: 7px;
  width:100%;
  }

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 539px) and (min-width: 370px) {
  .masonry {
    column-count: 1;
  }
}

.imageCard{
  display:flex;
  padding-right:7px;
  flex-direction: column;
}


button.item{
  display:none
}

.full-screen.back-button{
cursor: pointer;
justify-content: center;

}

.invisible{
  display:none
}

.full-screen-imageCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.item.back-button {
  display: none;
}




